{% extends "base.html" %}

{% block index %}
    <h2>Some page</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac dignissim tellus. Curabitur quis dapibus augue. Nunc ut orci ante. Quisque convallis ornare purus ac lobortis. Mauris at nisi bibendum, aliquam purus eu, ultricies lorem. Proin lacinia ante eu felis eleifend, id euismod elit malesuada. Quisque lacinia, nibh eget molestie venenatis, metus ipsum imperdiet elit, et hendrerit nulla nulla in dui. Cras vitae tortor nec neque tincidunt sodales. Nulla facilisi. Aenean ex leo, fringilla eget purus ut, volutpat consectetur elit. Ut tristique porta tristique. Ut quis sodales nibh. Sed tincidunt justo sit amet tellus facilisis sollicitudin.</p>
{% endblock index %}