header {
  padding-top: 40px;

  .info {
    img {
      margin-bottom: 20px;
      width: 100%;
    }

    h1 {
      font-size: 36px;
      font-weight: 900;
      text-align: center;
    }
  }

  nav {
    margin-bottom: 20px;

    a {
      padding: 0 10px
    }
  }
}
